* {
  margin: 0; /*  quitar separación externa predeterminada */
  /* Incluye padding y border en los cálculos de ancho/alto */
  box-sizing: border-box;
  color: #ffffff; 
  font-family:
    "EB Garamond", serif;
}

img {
  /* Ajusta ancho de imagen al contenedor padre */
  width: 100%; /*  imagen responsiva en ancho */
  /* Alineación vertical en línea de texto */
  vertical-align: middle; /* evita saltos de línea en imágenes inline */
}

p {
  /* Margen alrededor del párrafo */
  margin: 3rem 2rem; 
  line-height: 1rem; /
  /* interlineado */
}

body {
  background-color: black;
}

h1 {
    font-size: 13vw;
    font-weight: 900;
    line-height: 130px;
}

h2 {
    font-size: 20px;
    font-weight: 200;
}


.italic {
    font-style: italic;
}

  /* Marquesina...................................................... */
.marquesina {
  overflow: clip;
  padding: 7px 0;
  background-color: white;
}

.marquesina > div {
  width: max-content;
  display: flex;
  gap: 1rem;
  padding-left: 3rem;
  animation: marquesina 30s linear infinite forwards;
}

.marquesina > div > p {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  margin: 15px;
}

@keyframes marquesina {
  to {
    transform: translateX(-50%);
  }
}


/* maquetación del menú (hacer q al pasar el ratón se hagan más grandes)........................................... */

#menu {
  /* Posición fija para nav */
  position: sticky;
  top: 0;
  z-index: 2;
   border-bottom: 1px solid #F5F5F5 ;
}

#menu > ul {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  list-style: none;
  height: 3rem;
  align-items: center;
  padding: 0 4rem;
  gap: 2rem;
  background-color: rgb(0, 0, 0);
  
}

#menu > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

#menu > ul > li:hover {
  transform: scale(1.1);
  transition: transform 0.7s;
}

/* maquetación header........................................ */

header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
  margin: 45px;
  
}


.title-home {
    font-size: 8rem;
    /* font weight quita la negrita */
    font-weight: 400;
    /* ajuste de interlineado e interletrado */
    line-height: 1.2;
    letter-spacing: -0.5px;
    /* inline-flex para q no ocupe todo el ancho y sea contenedor flexible */
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start; 
}

.primera-linea {
    display: flex;
    width: 100%;
 }
 
 .title-my {
  /* empuja todo hacia la derecha */
    margin-left: auto; 
    font-style: italic;
  }

  .title-portfolio {
    font-style: italic;
  }

  .header-contacto {
     display: flex;
  padding-top: 60px;
  gap: 200px;
  font-family: "Noto Sans", sans-serif !important;
  }

  .header-contacto * {
    /* necesita el important porque la fuente base es EB Garamond */
    font-family: "Noto Sans", sans-serif !important;
    color: inherit;
    /* hereda el color marcado en el header */
  }

  .header-contacto a {
    text-decoration: none;
  }

  .header-contacto > .nombre-correo {
    display: flex;
    flex-direction: column;
    /* interlineado */
    gap: 0.2rem;
    padding-top: 43px;
  }

  .header-contacto > .nombre-correo p {
    margin: 0;
    line-height: 1.1;
  }

  .header-contacto > .luzy2 {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
  }

  /* sección de proyectos........................................ */

  #work > div {
  display: flex;
  flex-wrap: wrap;
  /* no tocar padding */
  padding: 6rem 6rem;
  justify-content: center;
  row-gap: 6rem;     /* espacio vertical */
  column-gap: 500px;  /* espacio horizontal */
}

#work > div > figure {
  /* 35% para q salgan de 2 en 2 */
  flex: 0 1 25%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

#work > div > figure > figcaption {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  text-align: center;
  background-color:rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  opacity: 0;
  transition: 1s;
  border-radius: 20px;
  font-style: italic;
  font-size: 1.5em;
  text-decoration: underline;
}

#work > div > figure > figcaption:hover {
  opacity: 1;
}

#work > h2 {
  font-size: 3rem;
  padding-left: 6rem;
  font-style: italic;
  padding-top: 6rem;
}

/* footer............................................ */
footer {
  background-color: rgb(0, 0, 0); 
  margin-top: auto;
  height: 180px;
}

footer > p,
footer > p > a {
  color: rgb(255, 255, 255); 
}


.footer-contacto i {
  font-size: 40px;
  color: rgb(255, 255, 255);
}


.footer-contacto a {
  text-decoration: none;
  margin:  10px;
}

.footer-contacto {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
}

footer > p {
  color: rgb(255, 255, 255);
  text-align: left;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
  margin: 0;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-bottom: 1rem;
}